*{
    margin: 0;
    padding: 0;
}

/* utility class */
.font-primary{
    font-size: 2.3rem;
    font-weight: bolder;
    font-family: sans-serif;
}
.font-secondary{
    font-family: sans-serif;
    font-size: 1.3rem;
    font-weight: bolder;

}
.font-small{
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: bolder;

}


.navbar{
    display: grid;
    position: relative;
    grid-template-columns: 350px auto 350px;
    width: 100%;

    
}
.navbar::before{
    content: "";
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .7;
}
.nav{
    /* border: 2px solid black; */
}
.navleft{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.navbar ul{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   /* border: 2px solid red; */
   height: 100px;
}

.navright{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    /* border: 2px solid red; */
    padding: 5px 20px;
    color: white;
    
}
a:active{
    background-color: green;
}
.navright input{
    height: 35px;
    border-radius: 20px;
    outline: none;
    border: none;

}
#navsearch{
width: 200px;
padding-left: 20px;
}
#navbtn{
    width: 80px;
    position: relative;
    right: 60px;
    background-color: green;
}
#navbtn:hover{
    background-color: black;
    color: green;
}
.togller i{
    font-size: 60px;
    padding-right: 20px;
    
}
.togller{
    display: none;
}
